In [1]:
import pandas as pd
import glob,os
#os.chdir("./BDAD/cluster")

In [2]:
import csv
import re
from tqdm import tqdm_notebook as tqdm

In [6]:
df = pd.read_csv("BDAD/clusterDenotations/part-00024", names = ["latitude","longitude","train_line"])
#f[2]

0    N)
Name: 2, dtype: object

In [33]:
df = pd.DataFrame()
for i in tqdm(range(0,48)):
    try:
        df1 = pd.read_csv("BDAD/clusterDenotations/part-%05d"%i, names = ["latitude","longitude","train_line"])
    #df1[0] = df1[0].apply( lambda x: float(x.strip("(())\n").strip(")")))
    #df1[1] = df1[1].apply( lambda x: float(x.strip("(())\n").strip(")")))
    #df1[2] = df1[2].apply( lambda x: float(x.strip("(())\n").strip(")")))
        df = pd.concat([df1,df])
    except:
        continue

A Jupyter Widget

In [35]:
df["latitude"] = df["latitude"].apply(lambda x: float(x.strip("((()))").strip("Location(")))

In [36]:
df["longitude"] = df["longitude"].apply(lambda x: float(x.strip(")")))

In [41]:
df["train_line"] = df["train_line"].apply(lambda x: x.strip(")"))

In [43]:
df

    latitude  longitude train_line
0  40.715226 -73.952132          L
0  40.724494 -73.801831          F
0  40.730009 -73.871598          M
0  40.742609 -74.002638          E
0  40.807492 -73.952343          B
0  40.818607 -74.089463          1
0  40.771923 -73.868424          7
0  40.685239 -73.985961          A
0  40.764858 -73.962221          F
0  40.748047 -73.978293          6
0  40.757766 -73.921016          M
0  40.711650 -74.010227          A
0  40.622260 -73.990279          N
0  40.728884 -74.002594          1
0  40.722408 -73.990634          F
0  40.646633 -73.785411          A
0  40.674497 -73.944886          3
0  40.778601 -73.953886          6
0  40.766063 -73.985576          B
0  40.751785 -73.991601          A
0  40.759108 -73.974219          M
0  40.735365 -73.986510          L
0  40.852066 -73.914098          4
0  40.685196 -74.176504          R
0  40.786050 -73.975452          1

In [44]:
df.to_csv("clusterDenotations.csv",index=False)

In [32]:
#df.rename(columns=["latitude","longitude","train-line"])
df.count()

0    24
1    24
2    24
dtype: int64

In [9]:
#df[0] = df[0].apply( lambda x: float(x.strip("(())[]\n").strip(")")))
df[1] = df[1].apply( lambda x: float(x.strip("(())[]\n").strip(")")))
df

           0          1
0  40.764858 -73.962221

In [20]:
df = pd.DataFrame()
for i in range(0,222):
    try:
        df1 = pd.read_csv("../cluster_centers/part-%05d"%i, header=None)
        print("here")
        df1[0] = df1[0].apply( lambda x: float(x.strip("(([]))\n").strip(")")))
        df1[1] = df1[1].apply( lambda x: float(x.strip("(([]))\n").strip(")")))
        df = pd.concat([df1,df])
    except:
        continue

here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here
here

In [16]:
df

Empty DataFrame
Columns: []
Index: []

In [21]:
la=list(df[0].values)
lo=list(df[1].values)
#la = [float(l) for l in la]
#lo = [float(l) for l in lo]
data = zip(la,lo)
c_la,c_lon=zip(*data)

In [25]:
st1 = pd.read_csv("../station_data/part-00000", header=None)
st2 = pd.read_csv("../station_data/part-00001", header=None)
st2.head()

                       0                           1
0  (40.883895=-73.862633                        2=5)
1   (40.75173=-73.855334                          7)
2  (40.596063=-73.973357                          F)
3  (40.807754=-73.945495                        2=3)
4   (40.67358=-73.995959  F=40.67358=-73.995959=G=R)

In [27]:
st = pd.concat([st1,st2])
st.count()

0    472
1    472
dtype: int64

In [28]:
st.head()

                       0     1
0   (40.67834=-73.911946  A=C)
1  (40.743132=-73.918435    7)
2  (40.866978=-73.893509  B=D)
3  (40.722301=-73.997141    6)
4  (40.640927=-73.963891  B=Q)

In [29]:
st[2] = st[0].apply(lambda x: float(x.split("=")[0].strip("()")))
st[2].head()

0    40.678340
1    40.743132
2    40.866978
3    40.722301
4    40.640927
Name: 2, dtype: float64

In [30]:
st[3] = st[0].apply(lambda x: float(x.split("=")[1].strip("()")))
st[3].head()

0   -73.911946
1   -73.918435
2   -73.893509
3   -73.997141
4   -73.963891
Name: 3, dtype: float64

In [31]:
st[1]

0                                            A=C)
1                                              7)
2                                            B=D)
3                                              6)
4                                            B=Q)
5                                            2=5)
6                                              F)
7                                            A=C)
8                       J=40.702147=-73.801109=Z)
9                                              G)
10                    N=Q=40.764811=-73.973347=R)
11                  4=5=2=40.688246=-73.980492=3)
12         4=N=5=40.683666=-73.97881=Q=B=2=R=3=D)
13                                           M=R)
14                                           M=R)
15                                             1)
16                                             4)
17                                             D)
18                                             F)
19                                           B=Q)
20                                       E=A=L=C)
21                                           J=Z)
22                                             7)
23                                             G)
24                                             5)
25                                           B=D)
26                                           M=R)
27                                           G=L)
28                                             R)
29                                           2=5)
                          ...
210                                            C)
211                                            R)
212                                            6)
213                                          B=Q)
214                                            6)
215                                            L)
216                                            6)
217                                            6)
218                                            F)
219                                            F)
220                                            7)
221    N=A=1=Q=GS=2=C=7=R=3=40.755983=-73.986229)
222                                          C=E)
223                                            F)
224                                            7)
225                                          B=Q)
226                                          B=D)
227                                            6)
228                                            A)
229                                          N=R)
230                                            L)
231                 N=F=Q=40.577422=-73.981233=D)
232                                            D)
233                                          J=Z)
234                                          4=5)
235                                          D=N)
236         4=N=5=Q=B=40.68446=-73.97689=2=R=3=D)
237                                          A=C)
238                                            F)
239                                            F)
Name: 1, Length: 472, dtype: object

In [32]:
la=list(st[2].values)
lo=list(st[3].values)
#la = [float(l) for l in la]
#lo = [float(l) for l in lo]
data = zip(la,lo)
st_la,st_lon=zip(*data)

In [46]:
from gmplot import gmplot
gmap = gmplot.GoogleMapPlotter.from_geocode("New York City")

In [47]:
for i in range(len(la)):
    gmap.marker(la[i],lo[i] , 'cornflowerblue')
gmap.scatter(st_la, st_lon, '#8B0000', size=80, marker=False)
gmap.draw("clusters_station_test.html")

In [3]:
df = pd.read_csv("part-00000", header = None)
df.head()

             0            1   2
0   ((40.76545  -73.980053)  1)
1  ((40.732002   -73.98837)  1)
2  ((40.733145  -73.998478)  1)
3  ((40.725187  -73.995312)  1)
4    ((40.6686    -73.9423)  2)

In [4]:
df.count()

0    616
1    616
2    616
dtype: int64

In [11]:
df[0] = df[0].apply( lambda x: float(x.strip("(())\n").strip(")")))

In [12]:
df[1] = df[1].apply( lambda x: float(x.strip("(())\n").strip(")")))

In [13]:
df[2] = df[2].apply( lambda x: float(x.strip("(())\n").strip(")")))

In [14]:
df2 = pd.read_csv("part-00001", header = None)
df2[0] = df2[0].apply( lambda x: float(x.strip("(())\n").strip(")")))
df2[1] = df2[1].apply( lambda x: float(x.strip("(())\n").strip(")")))
df2[2] = df2[2].apply( lambda x: float(x.strip("(())\n").strip(")")))

In [16]:
df3 = pd.concat([df,df2])

In [23]:
#dfa = pd.DataFrame()
dfa = pd.concat([df,dfa])
dfa.count()

0    1789
1    1789
2    1789
dtype: int64

In [18]:
from tqdm import tqdm_notebook as tqdm

In [4]:
os.chdir("BDAD/to_visualization")
df = pd.DataFrame()
for i in tqdm(range(0,1763)):
    df1 = pd.read_csv("part-%05d"%i, header=None)
    df1[0] = df1[0].apply( lambda x: float(x.strip("(())\n").strip(")")))
    df1[1] = df1[1].apply( lambda x: float(x.strip("(())\n").strip(")")))
    df1[2] = df1[2].apply( lambda x: float(x.strip("(())\n").strip(")")))
    df = pd.concat([df1,df])

A Jupyter Widget

In [8]:
df.columns

Int64Index([0, 1, 2], dtype='int64')

In [5]:
la=list(df[0].values)
lo=list(df[1].values)
#la = [float(l) for l in la]
#lo = [float(l) for l in lo]
data = zip(la,lo)
las,lons=zip(*data)

In [6]:
from gmplot import gmplot
gmap = gmplot.GoogleMapPlotter.from_geocode("New York City")

In [7]:
gmap.heatmap(las,lons)
gmap.draw("heatmap.html")

In [40]:
ACE_la = [40.68523864,40.71164957,40.64663254,40.75178465,40.74260943]
ACE_lo = [-73.98596064,-74.010227,-73.78541142,-73.99160143,-74.00263818]
BDFM_la = [40.80749169,40.76606257,40.72449395,40.76485772,40.7224077,40.73000946,40.7577662,40.759108]
BDFM_lo = [-73.95234278,-73.98557603,-73.80183092,-73.96222122,-73.99063369,-73.87159802,-73.92101558,-73.9742188]
L_la = [40.71522551,40.73536458]
L_lo = [-73.95213195,-73.9865102]
NR_la = [40.62225963]
NR_lo = [-73.99027879]
onetwothree_la = [40.72888388,40.78605031,40.67449729]
onetwothree_lo = [-74.00259369,-73.97545152,-73.94488626]
foursix_la = [40.85206561,40.74804678,40.7786015]
foursix_lo = [-73.91409818,-73.97829342,-73.95388588]
seven_la = [40.77192331]
seven_lo = [-73.86842436]

In [45]:
from gmplot import gmplot
gmap = gmplot.GoogleMapPlotter.from_geocode("New York City")

In [46]:
for i in range(len(ACE_la)):
    gmap.marker(ACE_la[i],ACE_lo[i] , '#00008B')
for i in range(len(BDFM_la)):
    gmap.marker(BDFM_la[i],BDFM_lo[i] , '#ffa500') 
for i in range(len(L_la)):
    gmap.marker(L_la[i],L_lo[i] , '#808080')    
for i in range(len(NR_la)):
    gmap.marker(NR_la[i],NR_lo[i] , '#ffff00')   
for i in range(len(onetwothree_la)):
    gmap.marker(onetwothree_la[i],onetwothree_lo[i] , '#FF4500')
for i in range(len(foursix_la)):
    gmap.marker(foursix_la[i],foursix_lo[i] , '#006400') 
for i in range(len(seven_la)):
    gmap.marker(seven_la[i],seven_lo[i] , '#9400d3') 
gmap.scatter(st_la, st_lon, '#8B0000', size=80, marker=False)    
gmap.draw("clusters_station.html")